@import "tailwindcss";

/* @font-face {
  font-family: noot;
  src: url(./assets/noot-regular.ttf);
}
@theme {
  --font-noot: noot , "sans-serif"
} */
:root{
  background: linear-gradient(135deg, #fff2e0, #f5d7a7)
}
h1{
  font-family: "noot";
}
p{
  font-family: "noot";
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
h1:nth-child(1){
  background-image: linear-gradient(300deg , #8d6f00 , #f3bb02);
}
body {
  margin: 0;
  padding-left: 80px;
  padding-right: 80px;
  
}
